<div class="col-sm-4">
    <h3>@img_title@</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, ut?</p>
    <p>@img_width@ x @img_height@ pixels</p>
    <h4>Country: @img_filename@</h4>
    <h5>Place: @img_location@</h5>
    <figure>
        <div class="img-hover-zoom img-hover-zoom--colorize">
            <img src="img/@img_filename@" alt="@img_title@">
        </div>
        <figcaption>
            <p>
                <a class="info"  href="stad.php?img_id=@img_id@">Meer info over deze foto -></a>
            </p>
        </figcaption>
    </figure>
</div>